<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SalesforceLoginSuite" parallel="false">
    <test name="LoginTests">
        <classes>
            <class name="com.selenium.tests.ValidLoginTest"/>
            <class name="com.selenium.tests.InvalidLoginTest"/>
        </classes>
    </test>
</suite>
